@charset "UTF-8";

/* body全体のmargin/paddingをリセットする */
body {
  margin: 0;
  padding: 0;
}

/* typeがnumberのinputを右寄せに設定 */
input[type="number"] {
  text-align:right;
}

/* headerをflexbox コンテナに設定 */
header {
  display: flex;
  background: green;
  color: white;
  height: 70px;
}
header h1 {
  margin: 0;
  margin-left: 20px;
}
header div {
  margin-left:auto;
  margin-right: 20px;
  margin-top: 10px;
  text-align: right;
}

input[name=userName] {
  width: 100px;
}
input[name=password] {
  width: 100px;
}

/* tableのデフォルトデザインを設定 */
table {
  margin: 20px;
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid grey;
}
th {
  background: green;
  color: white;
}
th:nth-child(1) {
  width: 30px;
}
th:nth-child(2) {
  width: 150px;
}
th:nth-child(3) {
  width: 120px;
}
th:nth-child(4) {
  width: 60px;
}
th:nth-child(5) {
  width: 120px;
}
td:nth-child(1) {
  text-align: right;
}
td:nth-child(2) {
  text-align: left;
}
td:nth-child(3) {
  text-align: right;
}
td:nth-child(4) {
  text-align: center;
}
td:nth-child(5) {
  text-align: center;
}

td input {
  width: 85%;
  text-align: right;
}
/* tableのデフォルトデザインを設定 ここまで */

/* カートテーブル、履歴テーブルの th に対してデザインを設定 */
table#cart thead tr th, table#history thead tr th {
  background: #c0c0c0 !important;
  color: black;
}

/* 履歴テーブル内のデザインを設定 */
table#history thead tr th:nth-child(1) {
  width: 150px;
}
table#history thead tr th:nth-child(2) {
  width: 65px;
}
table#history thead tr th:nth-child(3) {
  width: 250px;
}
table#history tbody tr td:nth-child(1) {
  padding: 0 5px;
  text-align: left;
}
table#history tbody tr td:nth-child(2) {
  padding: 0 5px;
  text-align: right;
}
table#history tbody tr td:nth-child(3) {
  padding: 0 5px;
  text-align: left;
}
/* 履歴テーブル内のデザインを設定 ここまで */

/* 管理者用 商品登録ページのデザインを設定 */
#adminPage {
  margin: 0 30px;
}

table#adminTable thead tr th:nth-child(1) {
  width: 50px;
}
table#adminTable thead tr th:nth-child(2) {
  width: 150px;
}
table#adminTable thead tr th:nth-child(3) {
  width: 100px;
}
table#adminTable thead tr th:nth-child(4) {
  width: 80px;
}

table#adminTable tbody tr td:nth-child(1) {
  padding: 0 5px;
  text-align: right;
}
table#adminTable tbody tr td:nth-child(2) {
  padding: 0 5px;
  text-align: left;
}
table#adminTable tbody tr td:nth-child(3) {
  padding: 0 5px;
  text-align: right;
}
table#adminTable tbody tr td:nth-child(4) {
  text-align: center;
}
/* 管理者用 商品登録ページのデザインを設定 ここまで */

/* エラーメッセージの文字色を赤にするための設定 */
.error {
  color: red;
}